<?xml version="1.0" encoding="utf-8"?>
<Preferences
  FriendlyName="{{ plex_server_name }}"
  AcceptedEULA="1"
  PublishServerOnPlexOnlineKey="{% if plex_allow_remote_access %}1{% else %}0{% endif %}"
  PlexOnlinePort="{{ plex_port }}"
  allowMediaDeletion="0"
  DlnaEnabled="1"
  TranscoderTempDirectory="/tmp"
  LanguageInCloud="1"
  />
