[Desktop Entry]
Version=1.0
Type=Application
Name=KeePass Password Safe
Comment=Password manager
Exec=keepass2
Icon=keepass2
Terminal=false
Categories=Utility;Security;
Keywords=password;manager;safe;
